<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45818287522-9rml5ie28oc462o0bs98ulh531g54ohd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45818287522-9rml5ie28oc462o0bs98ulh531g54ohd</string>
	<key>API_KEY</key>
	<string>AIzaSyAtzS_EgCr2N4OrActCOQljB_RYbppozro</string>
	<key>GCM_SENDER_ID</key>
	<string>45818287522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.android.application</string>
	<key>PROJECT_ID</key>
	<string>saep-52976</string>
	<key>STORAGE_BUCKET</key>
	<string>saep-52976.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45818287522:ios:1fa027c553143d1380cefb</string>
</dict>
</plist>